<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reg</title>
</head>
<body>
原生form表单 <br>
<form action="/reg" method="post">
    <label>用户名：</label><input type="text" name="username"><br>
    <label>密&ensp;&ensp;码：</label><input type="password" name="pwd"><br>
    <input type="submit" value="reg"><br>
</form>
<hr>
Flask-wtf 表单 <br>
<form action="/wtf" method="post">
    {{ form.username.label }}{{ form.username }}<br>
    {{ form.pwd.label }}{{ form.pwd }}<br>
    {{ form.submit }}
</form>
</body>
</html>